page-personal {

}
.personal{
    .item-note{
        font-size: 1.4rem;
        color: #666;
        float: right;
        img{
            width: 30px;
            height: 30px;
            border-radius: 30px;
        }
    }
    ion-icon{
        color: #666;
        font-size: 2rem;
    }
}